<h1 class="mt-3">Pipes <small>Angular</small></h1>
<hr>

<div class="row">
  <div class="col">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Variable</th>
          <th>Pipe</th>
          <th>Salida</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ nombre }}</td>
          <td>uppercase</td>
          <td>{{ nombre | uppercase }}</td>
        </tr>
        <tr>
          <td>{{ nombre2 }}</td>
          <td>Capitalizado</td>
          <td>{{ nombre2 | capitalizado:true }}</td>
        </tr>
        <tr>
          <td>{{ nombre }}</td>
          <td>lowercase</td>
          <td>{{ nombre | lowercase }}</td>
        </tr>
        <tr>
          <td>{{ nombre }}</td>
          <td>slice:3</td>
          <td>{{ nombre | slice:3 }}</td>
        </tr>
        <tr>
          <td>{{ nombre }}</td>
          <td>slice:0:3</td>
          <td>{{ nombre | slice:0:3 }}</td>
        </tr>
        <tr>
          <td>{{ PI }}</td>
          <td>number:'3.0-0'</td>
          <td>{{ PI | number:'3.0-0' }}</td>
        </tr>
        <tr>
          <td>{{ PI }}</td>
          <td>number:'.0-2'</td>
          <td>{{ PI | number:'.0-2' }}</td>
        </tr>
        <tr>
          <td>{{ porcentaje }}</td>
          <td>percent</td>
          <td>{{ porcentaje | percent }}</td>
        </tr>
        <tr>
          <td>{{ porcentaje }}</td>
          <td>percent:'2.2-2'</td>
          <td>{{ porcentaje | percent:'2.2-2' }}</td>
        </tr>
        <tr>
          <td>{{ salario }}</td>
          <td>currency</td>
          <td>{{ salario | currency }}</td>
        </tr>
        <tr>
          <td>{{ salario }}</td>
          <td>currency:'COP':'symbol-narrow':'.0-0'</td>
          <td>{{ salario | currency:'COP':'symbol-narrow':'.0-0' }}</td>
        </tr>
        <tr>
          <td><pre>{{ heroe }}</pre></td>
          <td>JSON</td>
          <td><pre>{{ heroe | json }}</pre></td>
        </tr>
        <tr>
          <td><pre>{{ valorPromesa }}</pre></td>
          <td>async</td>
          <td><pre>{{ valorPromesa | async }}</pre></td>
        </tr>
        <tr>
          <td><pre>{{ fecha }}</pre></td>
          <td>date</td>
          <td><pre>{{ fecha | date }}</pre></td>
        </tr>
        <tr>
          <td><pre>{{ fecha }}</pre></td>
          <td>date:'yyyy-MM-dd hh:mm:ss'</td>
          <td><pre>{{ fecha | date:'yyyy-MM-dd HH:mm:ss' }}</pre></td>
        </tr>
        <tr>
          <td><pre>{{ fecha }}</pre></td>
          <td>date:'MMMM-dd':'':'en'</td>
          <td><pre>{{ fecha | date:'MMMM-dd':'':'en' }}</pre></td>
        </tr>
        <tr>
          <td><pre>{{ fecha }}</pre></td>
          <td>date:'MMMM-dd':'':'es-CO'</td>
          <td><pre>{{ fecha | date:'MMMM-dd':'':'es-CO'}}</pre></td>
        </tr>
        <tr>
          <td><pre>{{ fecha }}</pre></td>
          <td>date:'MMMM-dd':'':'fr'</td>
          <td><pre>{{ fecha | date:'MMMM-dd':'':'fr'}}</pre></td>
        </tr>
        <tr>
          <td><pre>{{ fecha }}</pre></td>
          <td>date:'MMMM-dd':'':'{{idioma}}'
            <br>
            <button class="mr-2 btn btn-primary" (click)="espanol()">Espanol</button>
            <button class="mr-2 btn btn-secondary" (click)="ingles()">Ingles</button>
            <button class="mr-2 btn btn-success" (click)="frances()">frances</button>
          </td>
          
          <td><pre>{{ fecha | date:'MMMM-dd':'': idioma }}</pre></td>   
        </tr>

        <tr>
          <td><pre>{{ nombre }}</pre></td>
          <td>Contrasena:{{ activar }}
            <br>
            <button class="btn btn-outline-primary" (click)="activar = !activar">
              Activar/Desactivar
            </button>
          </td>
          <td><pre>{{ nombre | ocultarString:activar }}</pre></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<h3 class="mt-5">Domseguro</h3>
<div class="mb-5 row">
  <div class="col">
    <iframe width="560" 
            height="315" 
            [src]="videoUrl | domseguro" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen>
    </iframe>
  </div>
</div>